body {
 height: 100%;
 color: #333;
}

ul,li{
  list-style: none;
}
*{
  touch-action: pan-y;
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding: 0;
}

#root,
.app {
  height: 100%;
}

.test {
  color: orange;
}